FYLLO_BASE_URL=
FARM_USER_ID=
FYLLO_PASSWORD=
DATABASE_URL=
TEST_DATABASE_URL=postgresql://postgres:Shivam%4036@localhost:5432/fyllo_test

WATI_BASE_URL=https://live-mt-server.wati.io
WATI_TENANT_ID=
WATI_API_TOKEN=
WATI_TEST_NUMBER=91XXXXXXXXXX
WATI_TEMPLATE_NAME=fyllo_alert_test